<form>
	<blockquote>{{{localize 'DF_HOTKEYS.Config_Warning'}}}</blockquote>
	{{#each groups as | group |}}
	<h2>{{localize group.label}}</h2>
	{{#if group.description}}
	<p>{{localize group.description}}</p>
	{{/if}}
	<table>
		<thead>
			<tr>
				<th>{{localize 'DF_HOTKEYS.Config_Table_Name'}}</th>
				<th>{{localize 'DF_HOTKEYS.Config_Table_Key'}}</th>
				<th>{{localize 'DF_HOTKEYS.Config_Table_Mods'}}</th>
			</tr>
		</thead>
		<tbody>
			{{#each group.items as | item |}}
			<tr>
				<td>{{localize item.label}}</td>
				<td>
					<select name="{{group.name}}.{{item.name}}.key" data-dtype="String">
						<option value="">---</option>
						{{#each ../../keys}}
						<option value="{{key}}" {{#if (eq key item.map.key)}} selected{{/if}}>{{localize label}}</option>
						{{/each}}
					</select>
				</td>
				<td>
					<label>
						<span>Shift</span>
						<input type="checkbox" name="{{group.name}}.{{item.name}}.shift" {{#if item.map.shift}}checked{{/if}} />
					</label>
					<label>
						<span>Ctrl</span>
						<input type="checkbox" name="{{group.name}}.{{item.name}}.ctrl" {{#if item.map.ctrl}}checked{{/if}} />
					</label>
					<label>
						<span>Alt</span>
						<input type="checkbox" name="{{group.name}}.{{item.name}}.alt" {{#if item.map.alt}}checked{{/if}} />
					</label>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<br>
	{{/each}}
	<button id="reset"><i class="fas fa-redo"></i> {{localize 'DF_HOTKEYS.Config_Reset'}}</button>
	<button type="submit"><i class="fas fa-save"></i> {{localize 'DF_HOTKEYS.Config_Save'}}</button>
</form>