<div class="form-group">
	<label></label>
	<div class="form-fields" style="flex-wrap: wrap">
		<label style="flex:2" class="grid-label"><i class="fas fa-lock"></i> {{localize "DRAGON_FLAGON.Ratio_LockRatio"}}</label>
		<input type="checkbox" name="lockRatio">
		<label class="grid-label">{{localize "DRAGON_FLAGON.Ratio_Scale"}}</label>
		<input style="flex:0.6" type="number" name="scale" placeholder="Scale" value="1" step="any">
		<button type="button" name="applyScale" title="{{localize "DRAGON_FLAGON.Ratio_ApplyScale"}}"><i class="fas fa-expand-arrows-alt"></i></button>
		<span style="flex-basis:100%;height:8px"></span>
		<label class="grid-label">{{localize "DRAGON_FLAGON.Ratio_SizeRatio"}}</label>
		<input style="text-align:right" type="number" name="numerator" step="any" placeholder="{{localize "DRAGON_FLAGON.Ratio_Numerator"}}" value="{{numerator}}">
		<label style="flex:0" class="grid-label">:</label>
		<input type="number" name="denominator" step="any" placeholder="{{localize "DRAGON_FLAGON.Ratio_Denominator"}}" value="{{denominator}}">
		<button type="button" name="applyRatio" title="{{localize "DRAGON_FLAGON.Ratio_ApplyRatio"}}"><i class="fas fa-redo-alt"></i></button>
	</div>
</div>
