{{#*inline "folderPartial"}}
<li class="directory-item folder flexcol {{#unless this.expanded}}collapsed{{/unless}}" data-folder-id="{{this.id}}"
	data-folder-depth="{{this.depth}}">
	<header class="folder-header flexrow" style="background-color: {{this.data.color}}">
		<h3><i class="fas fa-folder-open fa-fw"></i>{{this.name}}</h3>
		{{#if @root.user.isGM}}
		<a class="create-folder" data-parent-folder="{{this.id}}"><i class="fas fa-folder-plus fa-fw"></i></a>
		<a class="create-document" data-folder="{{this.id}}"><i class="fas fa-user-plus fa-fw"></i></a>
		{{/if}}
	</header>

	<ol class="subdirectory">
		{{~#each this.children as |child|}}
		{{> (lookup @root "folderPartial")}}
		{{/each}}
		{{#each this.content}}
		{{> (lookup @root "documentPartial")}}
		{{/each~}}
	</ol>
</li>
{{/inline}}

{{#*inline "documentPartial"}}
<li class="directory-item document {{@root.documentCls}} flexrow" data-document-id="{{this.id}}">
	{{#if this.thumbnail}}
	<img class="thumbnail" title="{{dfCheck this}}" data-src="{{this.thumbnail}}" />
	{{/if}}
	<h4 class="document-name"><a>{{dfCheck this}}</a></h4>
</li>
{{/inline}}

<section class="tab sidebar-tab directory flexcol" id="{{tabName}}" data-tab="{{tabName}}">
	<!-- Directory Header -->
	<header class="directory-header">
		{{#if user.isGM}}
		<div class="header-actions action-buttons flexrow">
			{{#if canCreate}}
			<button class="create-document"><i class="fas fa-user"></i> {{localize 'SIDEBAR.Create' type=label}}</button>
			{{/if}}
			{{#if user.isGM }}
			<button class="create-folder"><i class="fas fa-folder"></i> {{localize 'FOLDER.Create'}}</button>
			{{/if}}
		</div>
		{{/if}}
		<div class="header-search flexrow">
			<i class="fas fa-search"></i>
			<input type="text" name="search" value="" placeholder="{{localize 'SIDEBAR.Search' types=labelPlural}}" autocomplete="off" />
			<a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up fa-fw"></i></a>
		</div>
	</header>

	<!-- Directories List -->
	<ol class="directory-list">
		{{~#each tree.children}}
		{{> (lookup @root "folderPartial")}}
		{{/each}}
		{{#each tree.content}}
		{{> (lookup @root "documentPartial")}}
		{{/each~}}
	</ol>

	<!-- Directory Footer -->
	<footer class="directory-footer action-buttons"></footer>
</section>