<menu class="flexcol" data-tooltip-direction="RIGHT" id="{{id}}">
	{{#each controls as |control|}}
	<li>
		<button
			type="button"
			class="control ui-control layer icon {{#if control.class}}{{control.class}}{{/if}} {{#if control.button}}button{{/if}} {{#if control.toggle}}toggle{{/if}} {{{control.icon}}}"
			role="tab"
			{{#if (not control.button)}}aria-pressed="{{control.active}}"{{/if}}
			aria-label="{{localize control.title}}"
			data-control="{{control.name}}"
			data-tooltip></button>
	</li>
	{{/each}}
</menu>