{{#*inline "control"}}
<li class="control-tool{{#if c.active}} active{{/if}}{{#if c.button}} button{{/if}}{{#if c.toggle}} toggle{{/if}}"
	data-{{d}}="{{c.name}}" title="{{localize c.title}}">
	{{{c.icon}}}
</li>
{{/inline}}

<div id="lib-df-buttons" class="app">
	<a id="magnet" class="button" title="{{localize 'LIB_DF_BUTTONS.title'}}"><i class="fas fa-magnet"></i></a>
	<section id="moduleControls">
		<ol class="controls active">
			{{#unless singleGroup}}
			{{#each groups as |g|}}
			{{> control c=g d='group'}}
			{{/each}}
			{{/unless}}
		</ol>
		<div class="group-tools">
			{{#each groups as |g|}}
			{{#if g.tools.length}}
			<ol class="controls{{#if g.active}} active{{/if}}">
				{{#each g.tools as |t|}}
				{{> control c=t d='tool'}}
				{{/each}}
			</ol>
			{{/if}}
			{{/each}}
		</div>
	</section>
</div>