<menu class="flexcol" data-tooltip-direction="RIGHT" id="{{id}}" data-ldfb>
	{{#each tools as |tool|}}<li>
		<button
			type="button"
			role="tab"
			class="control ui-control layer icon
				{{#if tool.button}}button{{/if}}
				{{#if tool.toggle}}toggle{{/if}}
				{{{tool.icon}}}
				{{#if tool.class}}{{tool.class}}{{/if}}"
			aria-pressed="{{tool.active}}"
			aria-label="{{localize tool.title}}"
			data-path="{{tool.path}}"
			data-tooltip></button>
	</li>{{/each}}
</menu>