<section id="dfca-manager">
	<p class="dfca-no-items" style="text-align:center">{{localize "DF_CHAT_ARCHIVE.ArchiveManager_NotItems"}}</p>
	<section>
		<a id="dfca-sort-asc" class="button" {{#if reverseSort}}style="display:none"{{/if}}><i class="fas fa-sort-amount-down-alt"></i> A-Z</a>
		<a id="dfca-sort-dsc" class="button" {{#unless reverseSort}}style="display:none"{{/unless}}><i class="fas fa-sort-amount-up"></i> Z-A</a>
	</section>
	<ol id="dfca-archives">
		{{#each messages}}
		<li class="dfca-archive-item" data-id="{{id}}">
			<div>
				<a class="button dfca-view" data-type="view" data-id="{{id}}"><span>{{name}}</span></a>
				{{#if isGM}}
				{{#if visible}}<i class="dfca-visible fas fa-users" title="{{localize 'DF_CHAT_ARCHIVE.ArchiveManager_VisibleToPlayers'}}"></i>{{/if}}
				<a class="button dfca-delete" data-type="delete" data-id="{{id}}"><i class="fas fa-trash"></i></a>
				{{/if}}
			</div>
		</li>
		{{/each}}
	</ol>
	{{#if isGM}}
	<button id="dfca-delete-all"><i class="fas fa-trash"></i> {{localize "DF_CHAT_ARCHIVE.ArchiveManager_DeleteAll"}}</button>
	{{/if}}
</section>