<section class="df-arch-flag-edit">

	<p class="col1 colend3 row1">{{{localize 'DF_FLAG_EDIT.EditButtonPromptDesc'}}}</p>

	<div class="col1 colend3 row2">
		<input id="object-path" type="text" spellcheck="false" value="{{path}}"
			placeholder="{{localize 'DF_FLAG_EDIT.EditButtonPromptPlaceholder'}}">
		<i class="error fas fa-exclamation-triangle" style="display:none"></i>
	</div>

	<code class="col1 colend3 row3" id="editor" style="display:block"></code>

	<p class="col1 colend3 row4">{{{localize 'DF_FLAG_EDIT.PoweredBy'}}}</p>

	<button class="col1 row5" id="cancel">{{localize 'DF_FLAG_EDIT.Cancel'}}</button>
	<button class="col2 row5" id="save">{{localize 'DF_FLAG_EDIT.Save'}}</button>
	<button class="col3 row5" id="apply">{{localize 'DF_FLAG_EDIT.Apply'}}</button>
</section>